---
import Button from '../../components/shared/Button.astro'
import Container from '../../components/shared/Container.astro'
import Title from '../../components/shared/Title.astro'
import Layout from '../../layouts/Layout.astro'
const token = import.meta.env.TOKEN_FORMSPREE
---

<Layout title='Tu socio en desarrollo web y éxito online'>
  <section
    class='lg:py-5 flex-col lg:flex-row items-center w-full lg:px-10 flex lg:items-start justify-center'
  >
    <!-- puntos de colores -->
    <div class='absolute w-full lg:w-1/2 inset-y-0 lg:right-0'>
      <span
        class='absolute -left-6 md:left-56 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden'
      ></span>
      <span class='absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80'
      ></span>
    </div>
    <span
      class='w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90'
    ></span>
    <div
      class='relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2'
    >
      <!-- imange -->
    </div>
    <div class='max-w-lg w-full flex flex-col items-center lg:items-start justify-center gap-5'>
      <Title>Formulario de contacto</Title>
      <img
        src='/images/contact-form.svg'
        alt='Hero image'
        width='250'
        height='250'
        class='lg:w-full lg:block lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96'
      />
    </div>
    <!-- form -->
    <Container>
      <!-- component -->
      <div class='flex items-center justify-center p-12'>
        <div class='mx-auto w-full max-w-[550px] z-50'>
          <form action={`https://formspree.io/f/${token}`} method='POST'>
            <div class='mb-10'>
              <label
                for='name'
                class='mb-3 block text-base font-medium text-[#07074D] dark:text-white'
              >
                Nombre Completo
              </label>
              <input
                type='text'
                name='name'
                maxlength='80'
                required
                id='name'
                placeholder='Nombre Completo'
                class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
              />
            </div>
            <div class='mb-10'>
              <label
                for='email'
                class='mb-3 block text-base font-medium text-[#07074D] dark:text-white'
              >
                Email
              </label>
              <input
                type='email'
                name='email'
                maxlength='100'
                required
                id='email'
                placeholder='example@domain.com'
                class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
              />
            </div>
            <div class='mb-10'>
              <label
                for='message'
                class='mb-3 block text-base font-medium text-[#07074D] dark:text-white'
              >
                Mensaje
              </label>
              <textarea
                required
                rows='4'
                name='message'
                id='message'
                placeholder='Escriba su mensaje Mensaje'
                maxlength='600'
                class='w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
              ></textarea>
            </div>
            <div>
              <Button
                type='submit'
                variant={'primary'}
                className={'min-w-max text-white flex items-center justify-between gap-5'}
              >
                <span class='sm:flex relative z-[5]'> Contactanos</span>
                <span class='flex relative z-[5]'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    fill='none'
                    viewBox='0 0 24 24'
                    stroke-width='1.5'
                    stroke='currentColor'
                    class='w-5 h-5'
                  >
                    <path
                      stroke-linecap='round'
                      stroke-linejoin='round'
                      d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
                    ></path>
                  </svg>
                </span>
              </Button>
            </div>
          </form>
        </div>
      </div>
    </Container>
  </section>
</Layout>
