---
import Service from '../cards/Service.astro'
import Container from '../shared/Container.astro'
import Paragraph from '../shared/Paragraph.astro'
import Title from '../shared/Title.astro'
---

<section id='services'>
  <Container className='space-y-10 md:sapce-y-12'>
    <div class='text-center max-w-3xl mx-auto space-y-4'>
      <Title>What we offer</Title>
      <Paragraph>Lorem ipsum dolor sit amet consectetur adipisicing elit.</Paragraph>
    </div>
    <div class='grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8'>
      <Service
        title='Creación de sitios web'
        description='Diseñamos y desarrollamos sitios web a medida que se adaptan a tus necesidades y objetivos comerciales.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title='Responsive Design'
        description='Creamos sitios web que se adaptan y funcionan de manera óptima en dispositivos móviles, tablets y computadoras de escritorio.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title='Mobile First'
        description='Desarrollamos tu sitio web teniendo en cuenta la experiencia del usuario en dispositivos móviles como prioridad, asegurando un diseño y rendimiento excelentes en estos dispositivos.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>

      <Service
        title='Optimización de rendimiento'
        description='Mejoramos la velocidad de carga y rendimiento de tu sitio web para garantizar una experiencia fluida y rápida.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title='SEO (Optimización para motores de búsqueda)'
        description='Implementamos estrategias de SEO para mejorar la visibilidad de tu sitio web en los motores de búsqueda y aumentar el tráfico orgánico.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title='Diseño personalizado'
        description='Creamos diseños atractivos y personalizados que reflejan la identidad de tu marca y generan una excelente impresión visual.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title='Carga de contenidos'
        description='Gestionamos y organizamos el contenido de tu sitio web de manera eficiente para una navegación intuitiva y una presentación efectiva.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title='Integración de herramientas y funcionalidades'
        description='Incorporamos herramientas y funciones especiales, como formularios de contacto, integración de redes sociales, integración de sistemas de pago, entre otras, para potenciar la interacción con tus visitantes.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        title='Mantenimiento y actualizaciones'
        description='Ofrecemos servicios de mantenimiento continuo y actualizaciones para garantizar que tu sitio web esté siempre actualizado y funcionando de manera óptima.'
      >
        <span slot='icon'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='w-6 h-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
            ></path>
          </svg>
        </span>
      </Service>
    </div>
  </Container>
</section>
