---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/Hero.astro'
import Services from '../components/sections/Services.astro'
import AboutUs from '../components/sections/AboutUs.astro'
import Features from '../components/sections/Features.astro'
import CTA from '../components/sections/CTA.astro'
import Brands from '../components/sections/Brands.astro'
import Benefits from '../components/sections/benefits.astro'
import Pricing from '../components/sections/Pricing.astro'
---

<Layout title='Tu socio en desarrollo web y éxito online'>
  <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
    <Hero />
    <Brands />
    <Services />
    <AboutUs />
    <CTA />
    <Benefits />
    <Features />
    <Pricing />
  </main>
</Layout>
